*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', sans-serif;
}

body
{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #010718;
     overflow: hidden;
}

.container .text
{
     position: relative;
     color: #4070f4;
     font-size: 30px;
     font-weight: 600;
}

.container .text.first-text
{
     color: #fff;
}

.text.sec-text::before
{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: #010718;
     border-left: 2px solid #4070f4;
     animation: animate 4s steps(22) infinite;
}

@keyframes animate 
{
     40%, 60%{
          left: 100%;
     }
     100%{
          left: 0%;
     }
}