.header-button {
    border-radius: 60px;
    padding: 18px 18px;
    background-color: green;
    transition: all 2.0s;
    cursor: pointer;
}
.header-button:hover{
    background-color: whitesmoke;
}
.header-button a {
    color: blanchedalmond;
}